{% extends "base.html" %}
{% block body %}
	<div class="left-space right-space">
		<h3>Please write us your questions and comments:</h3>
		<div class="row top-space">
			<div class="col-md-6">
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    <ul class=flashes>
				    {% for message in messages %}
				      <li>{{ message }}</li>
				    {% endfor %}
				    </ul>
				  {% endif %}
				{% endwith %}
				<form method="POST">
					{{ form.csrf_token }}
					<div class="row">
			    		<label class="col-md-4 form-label">{{ form.firstname.label }}</label>
			    		<div class="col-md-4">{{ form.firstname(size=34) }}</div>
			    	</div>
			    	<div class="row">
			    		<label class="col-md-4 form-label">{{ form.lastname.label }}</label>
			    		<div class="col-md-4">{{ form.lastname(size=34) }}</div>
			    	</div>
			    	<div class="row">
			    		<label class="col-md-4 form-label">{{ form.email.label }}</label>
			    		<div class="col-md-4">{{ form.email(size=34) }}</div>
			    	</div>
			    	<div class="row">
			    		<label class="col-md-4 form-label">{{ form.phonenumber.label }}</label>
			    		<div class="col-md-4">{{ form.phonenumber(size=34) }}</div>
			    	</div>
			    	<div class="row">
			    		<label class="col-md-4 form-label">{{ form.organization.label }}</label>
			    		<div class="col-md-4">{{ form.organization(size=34) }}</div>
			    	</div>
			    	<div class="row">
			    		<label class="col-md-4 form-label">{{ form.message.label }}</label>
			    		<div class="col-md-4">{{ form.message(cols="33", rows="10") }}</div>
			    	</div>
			    	<div class="row">
			    		<label class="col-md-4 form-label"></label>
			    		<div class="col-md-4"><input type="submit" value="Submit"></div>
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
 					<img src="{{ STATIC_URL }}images/booa_kids_outside.jpg" class="pull-left" style="margin-top: -35px; margin-left: 25px" height=300>
 				</div>
				<div class="col-md-12 left-space top-space-small">
					Département de L’Atlantique <br />
					Commune de Ouidah, 2<sup>eme</sup> Arrondissement <br />
					Quartier Lèbou, Carre Sans Bornes <br />
					Maison Kpèhounton Sébastien <br />
					B.P. 131 Ouidah <br />
					<br />
					<div><i class="glyphicon glyphicon-earphone"></i> +229 67 30 00 40</div>
					<div><i class="glyphicon glyphicon-envelope"></i> brasouvertsopenarms@gmail.com</div>
					You can also find us on <a href="https://www.facebook.com/brasouvertsopenarms/"><strong>Facebook</strong></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}