{% extends "base.html" %}
{% block body %}
	<div class="row">
		<div class="col-md-8 main-img-holder">
			<img src="{{ STATIC_URL }}images/booa_main.JPG" class="img-fluid home-main-image" alt="Responsive image">
		</div>
		<div id="main-text" class="col-md-4">
			<h2 style="font-size: 31px;"><strong>Bras Ouverts – Open Arms</strong></h2>
			The main goal of Bras Ouverts – Open Arms (BOOA) is to establish a sustainably financed school that provides free education in Ouidah, Benin. BOOA serves a community of Nigerian refugees who fled environmental destruction, as well as marginalized Beninese children. In particular, we prioritize the education and empowerment of women and girls.
		</div>
	</div>
{% endblock %}