{% extends "base.html" %}
{% block body %}
	<div class="container-fluid left-space right-space">
		<h2 style="margin-bottom: 0"><strong>Priorities</strong></h2>
		<div class="row">
			<div class="col-md-4">
				<h3>NGO Registration</h3>
				<ul>
					<li>
						We are in the process of registering with the Beninese Government and expect 
						to have official non-governmental organization status by 2017.
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Sustainable Financing</h3>
				<ul>
					<li>
						We seek to generate enough income to finance our teachers’ salaries by the end of the 2016 – 2017 school year.
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Education Enhancement</h3>
				<ul>
					<li>
						We will continue to diversify our teaching methods and incorporate technology into the curriculum.
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h3>Research</h3>
				<ul>
					<li>
						We will continue to analyze the root causes underlying the marginalization of BOOA’s stakeholders and
					</li>
					<li>
						Identify partners who can help us to implement solutions for these challenges.
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Increase Enrollment</h3>
				<ul>
					<li>
						We strive to enroll 50 children by June 2017 (up from about 30 in September 2016).
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Ensure Project Endurance</h3>
				<ul>
					<li>
						We will recruit new volunteers to help carry on BOOA’s mission in the long-term.
					</li>
				</ul>
			</div>
		</div>
			<div class="row">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}images/tree_table.jpg" class="pull-left paragraph-picture" style="margin-left: 0">
				</div>
				<div class="pull-right col-md-7">
					<h2><strong>Projects &amp; Collaboration</strong></h2>
					<h3>Pedagogical Development</h3>
					<ul>
						<li>
							Our teachers continue to further their own educations through online courses and consultation with experts.
						</li>
					</ul>
					<h3>Sustainable Energy</h3>
					<ul>
						<li>
							BOOA has partnered with One Million Lights to provide solar lamps for the school. We will also distribute lights to the community so that our students can study at night, and their families can work and cook into the evening.
						</li>
						<li>
							In addition to solar lamps, we plan to install a solar panel system to power lighting, computers and printers at the school. 
						</li>
					</ul>
					<h3>Library &mdash; Computer Lab</h3>
					<ul>
						<li>
							We are applying for grants and gathering resources to assemble a library – lab that will provide regular access to reading materials and information technologies. 
						</li>
						<li>
							We will open the facility to interested members of the community and will use it to generate revenue via computer classes.
						</li>
					</ul>
					<h3>Health</h3>
					<ul>
						<li>
							We are partnering with a nurse practitioner to provide check-ups and teach basic medical skills to members of the community.
						</li>
					</ul>
				</div>
		</div>
	</div>
{% endblock %}