{% extends "base.html" %}
{% block body %}
	<div class="left-space right-space">
		<h2 style="margin-bottom: 0"><strong>Projects &amp; Collaboration</strong></h2>
		<div class="row">
			<div class="col-md-6">
				<h3>Education</h3>
				<ul>
					<li>
						BOOA runs an educational center called Peace Academy for children in need of assistance. The center provides instruction in English and French.
					</li>
				</ul>
				<h3>Pedagogical Development</h3>
				<ul>
					<li>
						Our teachers continue to further their own educations through online courses and consultation with experts.
					</li>
				</ul>
				<h3>Library – Computer Lab</h3>
				<ul>
					<li>
						 We are gathering resources to assemble a library – lab that will provide regular access to reading materials and information technologies.
					</li>
				</ul>
			</div>
			<div class="col-md-6 text-center">
				<iframe width="460" height="315" src="https://www.youtube.com/embed/JUcUtLc46Sw" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Legal Aid</h3>
				<ul>
					<li>
						 We are assisting with the procurement of legal identification documents and residence permits for displaced persons Benin.
					</li>
					<li>
						We are also aiding families with obtaining birth certificates for unregistered children.
					</li>
				</ul>
				<h3>Access to Clean Water</h3>
				<ul>
					<li>
						In collaboration with Northwestern University's Engineers for a Sustainable World, we are working to provide clean water at BOOA's educational center.
					</li>
				</ul>
				<h3>Hygiene</h3>
				<ul>
					<li>
						We are training the community on proper waste disposal and the importance of handwashing.
					</li>
				</ul>
			</div>
			<div class="col-md-6 text-center top-space-large">
				<img src="{{ STATIC_URL }}images/booa_kids_masks.jpg" width="460">
			</div>
		</div>
			<div class="row top-space-small">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}images/tree_table.jpg" class="pull-left paragraph-picture" style="margin-left: 0; margin-top:56px">
				</div>
				<div class="pull-right col-md-7">
					<h2><strong>Future Projects</strong></h2>
					<h3>We are open to requests for assistance with the following areas:</h3>
					<h3>Infrastructure Improvements</h3>
					<ul>
						<li>
							Wells, bathrooms, classrooms, energy.
						</li>
					</ul>
					<h3>Human Rights Trainings</h3>
					<ul>
						<li>
							Women’s rights, children’s rights, displaced persons’ rights.
						</li>
					</ul>
				</div>
		</div>
	</div>
{% endblock %}