{% extends "base.html" %}
{% block body %}
	<div id="team-page-main">
		<div class="row bottom-space">

			<img src="{{ STATIC_URL }}images/team/remedy.png" class="team-img pull-left" width="195">
			<div class="pull-left left-space top-space col-md-6">
				<h3 class="name-heading"><strong>Remedy Sueza</strong></h3>
				<h4 class="team-title"><i>Founder &amp; Lead teacher</i></h4>
				<p>
					Refugee who fled Nigeria in 1999 in fear of persecution. Studied mechanical engineering.
				</p>
			</div>
		</div>
		<div class="row bottom-space">
			<img src="{{ STATIC_URL }}images/team/jp.png" class="team-img pull-right" width="195">
			<div class="pull-right right-space top-space text-right col-md-6">
				<h3 class="name-heading"><strong>Jan Pieter Snoeij</strong></h3>
				<h4 class="team-title"><i>Operations Manager</i></h4>
				<p>
					Development Studies graduate student at the Graduate Institute (IHEID) in Geneva, Switzerland.
					Previously obtained a Masters in International Economics.
				</p>
			</div>
		</div>
		<div class="row bottom-space">
			<img src="{{ STATIC_URL }}images/team/clara.png" class="team-img pull-left" width="195">
			<div class="pull-left left-space top-space col-md-6">
				<h3 class="name-heading"><strong>Clara Wagner</strong></h3>
				<h4 class="team-title"><i>Operations Associate</i></h4>
				<p>
					Studied Immigrant Needs and the Media at Tufts University in Boston. 
					Has work experience at several non-profits, as well as the United States 
					Agency for International Development (USAID).
				</p>
			</div>
		</div>
		<div class="row bottom-space">
			<img src="{{ STATIC_URL }}images/team/felix.png" class="team-img pull-right" width="195">
			<div class="pull-right right-space top-space text-right col-md-6">
				<h3 class="name-heading"><strong>Felix Mensan</strong></h3>
				<h4 class="team-title"><i>Implementation Consultant</i></h4>
				<p>
					Program manager at IMPACT. Specialist in terrain cultivation and project development 
					with over 15 years of relevant project experience in Benin.
				</p>
			</div>
		</div>
		<div class="row bottom-space">
			<img src="{{ STATIC_URL }}images/team/stephanie.jpg" class="team-img pull-left" width="195">
			<div class="pull-left left-space top-space col-md-6">
				<h3 class="name-heading"><strong>Stephanie Villadiego</strong></h3>
				<h4 class="team-title"><i>Information and Communications Technology Consultant</i></h4>
				<p>
					Development Studies graduate student at the Graduate Institute (IHEID) in Geneva, Switzerland. 
					Has previous work experience in socio-political risk analysis for extractive industries 
					in Colombia, and the field of business and human rights.
				</p>
			</div>
		</div>
		<div class="row bottom-space">
			<img src="{{ STATIC_URL }}images/team/kathleen.jpg" class="team-img pull-right" width="195">
			<div class="pull-right right-space top-space text-right col-md-6">
				<h3 class="name-heading"><strong>Kathleen Bush-Joseph</strong></h3>
				<h4 class="team-title"><i>University of California President’s Public Service Law Fellow</i></h4>
				<p>
					Received a Juris Doctor degree in International and Comparative Law from the University of 
					California at Los Angeles (UCLA) School of Law. Has previous experience with the United Nations 
					Office of the High Commissioner for Human Rights, and with the High Commissioner for Refugees.
				</p>
			</div>
		</div>
		<div class="row bottom-space">
			<img src="{{ STATIC_URL }}images/team/anatole.png" class="team-img pull-left" width="195">
			<div class="pull-left left-space top-space col-md-6">
				<h3 class="name-heading"><strong>Anatole Megnigbeto</strong></h3>
				<h4 class="team-title"><i>Project Advisor</i></h4>
				<p>
					Executive director at IMPACT, a Beninese non-profit. Has over 15 years of experience 
					with the execution of education and sustainable agriculture projects in Benin.
				</p>
			</div>
		</div>
		<div class="row bottom-space">
			<img src="{{ STATIC_URL }}images/team/chris.jpg" class="team-img pull-right" width="195">
			<div class="pull-right right-space top-space text-right col-md-6">
				<h3 class="name-heading"><strong>Chris Moirano</strong></h3>
				<h4 class="team-title"><i>Technology Cosultant</i></h4>
				<p>
					Graduate of Marquette University College of Business Administration. Currently working as
					a software engineer at Procured Health and for BOOA.
				</p>
			</div>
		</div>
{% endblock %}