{% extends "base.html" %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" id="vision-background"></div>
		</div>
		<div class="row">
			<div class="text-container main-text">
				<h2><strong>Education centered development</strong></h2>
				<p>
					The main goal of Bras Ouverts – Open Arms (BOOA) is to establish a sustainably financed school that provides free education in Ouidah, Benin. Since women and girls are especially vulnerable to suffering as a result of displacement and poverty, a central tenet of BOOA’s mission is to prioritize the needs of females in the community through education and empowerment. 
				</p>
				<p>
					Ultimately, the BOOA team seeks to prepare students for future employment so that they may live stable and fulfilling lives. To achieve this vision, we utilize an integrated approach that is comprised of five main components:
				</p>
				<ul>
					<li>Education</li>
					<li>Community involvement</li>
					<li>Social initiatives</li>
					<li>Sustainable financing</li>
					<li>Health</li>
				</ul>
				<p>
					First, with regards to education, we follow the curriculum standards of the regional West African Examinations Council, and we incorporate French lessons so that the students can better interact with French speaking locals. We are also assisting our teachers with pedagogical training online.
				</p>
				<p>
					<img align="right" src="{{ STATIC_URL }}images/remedy_in_school.png" class="paragraph-picture">Second, we are committed to communicating openly with the various groups living in Ouidah in order to build community involvement. We encourage parent participation in the school and are responding to community needs by  implementing desired programs.  For example, we plan to begin some nighttime classes for adults. These tie into our sustainable financing strategy because they will generate revenue for costs such as teachers’ salaries and supplies. Currently, we are fundraising through traditional grant and donation methods. However, we plan to transition to self-generated income after completing initial infrastructure and materials investments.
				</p>
				<p>
					Finally, we hope to address the community’s physical and mental well-being. Whilst this is a more long-term goal, we strive to make the latter an integral part of our educational program and intend to prioritize our students’ nutrition and health so that they have the energy to learn and prosper.
				</p>
			</div>
		</div>
	</div>
{% endblock %}