{% extends "base.html" %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" id="vision-background"></div>
		</div>
		<div class="row">
			<div class="text-container main-text">
				<h2><strong>Vision</strong></h2>
				<p>
					Bras Ouverts – Open Arms (BOOA) became an officially registered non-governmental organization in Benin on March 15, 2017. BOOA's five main areas of work are:
				</p>
				<ul>
					<li>Facilitating access to education for children and disadvantaged families</li>
					<li>Promoting respect for human rights, especially the rights of women and children, through training and support</li>
					<li>Enhancing durable access to potable water, to food and to renewable energy, and contributing to the protection of the environment</li>
					<li>Promoting health education through trainings on the prevention of diseases and on community hygiene</li>
					<li>Aiding families with developing revenue-generating activities that will help them achieve autonomy</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}